body {
    margin: 0;
    overflow: visible;
    height: 10000px;
}

.element::-webkit-scrollbar {
    width: 0 !important
}

.container {
    position: fixed;
    height: 100%;
    width: 100%;
}

p>a {
    text-decoration: none;
}


@keyframes linkimghover {
    from {height: 10%;}
    to {height: 11%;}
}
.link-img {
    height: 10%;
    width: auto;
    z-index: 150;
    position: absolute;
    right: 20%;
    top: 25%;
    opacity: 1;
}
.link-img img {
    position: absolute;
    height: 100%;
    transition: transform .5s;
}

.link-img img:hover {
    transform: scale(1.15);
}

/* Image link text */
.linktext {
    visibility: hidden;
    width: 300px;
    background-color: white;
    color: black;
    text-align: left;
    font-weight: 500;
    font-size: 1.25em;
    padding: 5px 6px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 4em;
    left: -5.5em;
    z-index: 125 !important;
}

/* Show the image link text when you mouse over the tooltip container */
.link-img:hover .linktext {
    visibility: visible;
}

/*Tooltip aka word link*/
.tooltip {
    position: relative;
    display: inline;
}

/* Word link text */
.tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: white;
    color: black;
    text-align: left;
    padding: 6px 7px;
    border-radius: 6px;
    z-index: 125 !important;
    position: absolute;
    margin-top: -.2em;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Navigation section*/
.navigation {
    z-index: 200;
}
/*Link to Welcome Page*/
.home {
    z-index: 200;
    position: absolute;
    display: block;
    left: 2%;
    top: 0.25%;
}
h6 {
    margin-top: 15px;
    font-size: .85em;
    font-weight: 700;
    line-height: 1.4em;
}
.homelink {
    text-decoration: none;
    color: black;
}

/*Storyline Navigation*/
.storyline-btn {
    position: fixed;
    bottom: 4%;
    left: 2%;
    height: 30px;
    width: 25px;
    z-index: 200;
}
.storyline-btn img {
    position: absolute;
    top: -20%;
    left: -20%;
}
.storyline-btn:hover {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 10px #fff;
}

.storyline {
    visibility: hidden;
    position: absolute;
    margin-left: 42px;
    margin-top: 20%; /*depends on img*/
    height: 35px; /*depends on img*/
    width: 1200px;
}
.storyline img {
    height: 100%;
    left: 0px;
}
.storyline-btn:hover .storyline {
    visibility: visible;
}

/*Autoscroll controls*/
.autoscroll-btn {
    position: fixed;
    bottom: 3%;
    right: 2%;
    font-size: 1em;
    z-index: 200;
}


/*Counting the pixel change*/
.holder {
    height: 1%;
    width: 10000px;
    position: absolute;
    z-index: 100;
    transform: translate(0%,-50%);

    visibility: visible;
}

.marker {
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    height: 10px;
}

.marker p {
    width: 1000px;
    display: inline-block;
    float: left;
}

#count {
    position: fixed;
    top: 0;
    left: 0;

    visibility: hidden;
}



.italic {
    font-style: italic;
}
.thin {
    font-weight: 100;
}
.light {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.semibold {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}


.appear {
    opacity: 0;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}

.nudge {
    position: fixed;
    float: right;
    bottom: -3%;
    left: 86%;
}

::-webkit-scrollbar { 
    display: none; 
}

